.frame {
    position: relative;
width: 428px;
height: 926px;

background: #FAF6F6;
border-radius: 50px;
}
.account{
    position: absolute;
width: 129px;
height: 42px;
left: 41px;
top: 172px;

font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 40px;

color: #000000;
}
.arrow-back {
    position: absolute;
left: 23.98%;
right: 57.56%;
top: -392314592%;
bottom: -117937088%;

border: 3px solid #000000;
box-sizing: border-box;
transform: rotate(67.52deg);
}
.box1{
    position: absolute;
width: 356px;
height: 129px;
left: 31px;
top: 240px;

background: url(stockvault-red-and-blue-abstract-light-background268428.jpg);
/* 2dp | Button */

filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.16)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.1));
border-radius: 20px;
}
.pro-box{
    position: absolute;
width: 55px;
height: 21px;
left: 61px;
top: 257px;
background: #FFFFFF;
border-radius: 10px;
}
.pro{
    position: absolute;
width: 37px;
height: 18px;
left: 74px;
top: 258px;

font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: #821A64;

}
.upgrade{
    position: absolute;
width: 256px;
height: 32px;
left: 57px;
top: 330px;

font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;
}
.line1{
    /* Line 1 */


position: absolute;
width: 12px;
height: 0px;
left: 387px;
top: 182px;

border: 1px solid #C273F2;
transform: rotate(90deg);
}
.line2{
    position: absolute;
width: 12px;
height: 0px;
left: 381px;
top: 188px;

border: 1px solid #C273F2;
}
.addnow{
    position: absolute;
width: 129px;
height: 42px;
left: 322px;
top: 181px;

font-family: 'Amaranth';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #C273F2;
}