body{
  position: relative;
width: 1440px;
height: 1024px;

background: #480F75;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
}

@media screen and (max-width:670px)
 {
  .app{
    display: grid;
    gap:2%;
    padding: 20px;
  }
}


