body{
    position: absolute;
width: 1366px;
height: 580px;
background: rgba(72, 15, 117, 0.78);
border: 1px solid #000000;
box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
}

@media screen and (max-width:670px)
 {
  .app{
    display: grid;
    gap:2%;
    padding: 20px;
  }
}


